html {
    background-color: white;
}

.loader {
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, white 94%, transparent) top/0.3rem 0.3rem no-repeat,
    conic-gradient(transparent 30%, white);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 0.3rem), black 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.custom-input:-webkit-autofill {
  background-color: #0c0d14 !important;
  color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #0c0d14 inset !important;
}

.custom-input:-webkit-autofill::first-line {
  color: white !important;
}
